body,html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* body{
	background-color: rgba(0,0,0,0.5);
} */
*{
	margin: 0;
	padding: 0;
}
.modal-dialog{
	width:600px;
	max-width: 100%;
	position: absolute;
    margin-top:-20px;
}
.modal-dialog .modal-content{
    background-color: #fff;
    
    border-radius: 8px;
    
    
}
.modal-header {
    min-height: 16.54px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content: space-between;
	z-index: -1;
}
.modal-title {
    margin: 0;
    line-height: 1.53846154;
}
h4 {
    font-size: 14px;
}
h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    margin: 0 0 10px;
	font-size: 13px;
}
.modal-header .close {
    margin-top: -2px;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    font-size: 19.5px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
	z-index: 1;
}
.close:hover{
	opacity: .6;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.btn {
    color: #353535;
    background-color: #f2f2f2;
    border-color: #bfbfbf;
	display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.53846154;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
	user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.btn-primary {
    color: #fff;
    background-color: #3280fc;
    border-color: #1970fc;
}
@keyframes slidedown{
	0%{
		margin-top: -50px;
		opacity:0;
	}
	100%{
		margin-top: 0px;
		opacity:1;
	}
}
@keyframes slideup{
	0%{
		margin-top: 0px;
		opacity:1;
	}
	100%{
		margin-top: -50px;
		opacity:0;
	}
}